.cont{
  display: flex;
}
.h1{
  text-align: center;
  color: #3b5b7e;
  margin-bottom: -40px;
}
.user-list-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-list-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.user-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-card span {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}


.user-card button {
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-card button:hover {
  background-color: #b71c1c;
}


.no-users {
  text-align: center;
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}
.add-user-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-user-container h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.add-user-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.add-user-container button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-user-container button:hover {
  background-color: #0056b3;
}

.update-user-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.update-user-container h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.update-user-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.update-user-container button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-user-container button:hover {
  background-color: #0056b3;
}
